<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-subtitle>Book Detail</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-list>
      <mat-list-item> <span class="label-heading">Title </span> : <span class="label-text">{{selectedBook?.Title}}</span>
      </mat-list-item>
      <mat-list-item><span class="label-heading">Subtitle </span> : <span class="label-text"> {{selectedBook?.SubTitle ?
          selectedBook.SubTitle : 'Not Available'}}</span> </mat-list-item>
      <mat-list-item><span class="label-heading">Owner </span>:<span class="label-text">{{selectedBook?.Owner?.Email }}</span>
      </mat-list-item>
      <mat-list-item><span class="label-heading">Is Available</span>: <span class="label-text">{{selectedBook?.IsAvailable}}
        </span> </mat-list-item>
      <mat-list-item><span class="label-heading"> Assignee</span> :<span class="label-text">{{selectedBook?.Assignee}}</span>
      </mat-list-item>
      <mat-list-item><span class="label-heading">Author</span> :<span class="label-text"> {{selectedBook?.Author}}</span>
      </mat-list-item>

    </mat-list>
  </mat-card-content>
  <mat-card-actions style="text-align:center">
    <button mat-button class="btn-outline-primary" (click)="goBacktoList()">Back to List</button>
  </mat-card-actions>
</mat-card>
