<mat-toolbar color="primary">
    <span class="fill-remaining-space">Add Book</span>
</mat-toolbar>

<div class="container" *ngIf="!post; else forminfo" novalidate>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">

        <mat-form-field class="form-element">
            <input matInput placeholder="Title" formControlName="title">
            <mat-error *ngIf="!formGroup.controls['title'].valid && formGroup.controls['title'].touched">
                {{ titleAlert }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Book Category</mat-label>
            <mat-select>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let category of bookCategory" [value]="category.value">
                    {{category.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element">
            <textarea matInput placeholder="Description" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="20" formControlName="description"></textarea>
            <mat-error *ngIf="!formGroup.controls['description'].valid && formGroup.controls['description'].touched">
                Required field, must be between 5 and 500 characters.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
            <input matInput placeholder="author" formControlName="author">
            <!-- <mat-hint>Select Author from List of authors</mat-hint> -->
            <mat-error *ngIf="!formGroup.controls['author'].valid && formGroup.controls['author'].touched">
                {{ titleAlert }}
            </mat-error>
        </mat-form-field>

        <div class="form-element">
            <mat-slide-toggle formControlName="isAvailable">Is Book Available? </mat-slide-toggle>
        </div>

        <div class="form-element">
            <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Add Book</button>
            <button mat-stroked-button color="primary" type="reset" class="button">Cancel</button>
        </div>

    </form>
</div>

<ng-template #forminfo>
    <div class="container">
        {{ post | json }}
    </div>
</ng-template>
