<div class="row scroll-remove">
  <div class="col-md-6" style="padding-top:10px; padding-bottom: 10px;">
    <mat-card class="manage-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img src="assets/icons8-books-64.png" height="50px" width="50px" alt="book image">
        </div>
        <mat-card-title>Manage Books</mat-card-title>
      </mat-card-header>

      <mat-card-content style="margin-top:10px;">
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
          very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">MANAGE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-6" style="padding-top:10px;">
    <mat-card class="manage-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img src="assets/icons8-conference-64.png" height="50px" width="50px" alt="book image">
        </div>
        <mat-card-title>Manage User</mat-card-title>
      </mat-card-header>
      <mat-card-content style="margin-top:10px;">
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
          very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">MANAGE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-6" style="padding-top:10px;" *ngIf="roles?.admin">
    <mat-card class="manage-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img src="assets/icons8-conference-64.png" height="50px" width="50px" alt="book image">
        </div>
        <mat-card-title>Manage Group</mat-card-title>
      </mat-card-header>
      <mat-card-content style="margin-top:10px;">
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
          very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">MANAGE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
