<!-- div holds carousel for quotes -->
<div id="carouselExampleIndicators" class="carousel slide" style="height: 120px;" data-ride="carousel">
    <div class="carousel-inner" style="text-align: center;margin-top: 50px; padding-left: 20px;padding-right: 20px;">
        <div class="carousel-item active">
            <p>“Books are a uniquely portable magic.”
                <br>- Stephen King </p>
        </div>
        <div class="carousel-item">
            <p>“Whenever you read a good book, somewhere in the world a door opens to allow in more light..”
                <br>- Vera Nazarian </p>
        </div>
        <div class="carousel-item">
            <p>“If we encounter a man of rare intellect, we should ask him what books he reads.”
                <br>- Ralph Waldo Emerson </p>
        </div>
        <div class="carousel-item">
            <p>“ There is no friend as loyal as a book.”
                <br>- Ernest Hemingway </p>
        </div>
    </div>
    <a class="carousel-control-prev" style="width:10%" href="#carouselExampleIndicators" role="button"
        data-slide="prev">
        <span class="fa fa-chevron-circle-left" style="color:blue" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" style="width:10%" href="#carouselExampleIndicators" role="button"
        data-slide="next">
        <span class="fa fa-chevron-circle-right" style="color:blue" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- This router loads login, forgot password, Signup component. -->
<router-outlet>
</router-outlet>