<div class="dashboad-header">
    <span style="font-size: 18px; float:left; color:white;margin-right: 10px;margin-top: 10px">Welcome
    {{ user?.email }}</span>
    <i class="fa fa-sign-out" (click)="logout()" style="cursor: pointer;font-size: 18px; float:right; color:white;margin-right: 10px;margin-top: 10px;"></i>
</div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-12">
            <input type="text" placeholder="search book hear">

        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-lg-12">
            Grid will show up here

        </div>
    </div>
</div>